@charset "utf-8";
/* CSS Document */

body {
  font-family: "Georgia", serif;
  color: #000000;
  line-height: 140%;
  margin: 30px;
  background-color: #F7F3DE;
  background-image: url("page-bg.gif");
}

header h1 {
  font-size: 350%;
  color: #7C1A00;
  padding: 40px;
  left-padding: 120px;
  background-image: url("header-image-1.gif");
}

#container {
 margin-bottom: 30px; 
}

nav {
 float: left;
 width: 150px;
}

nav ul {
 padding: 0px;
 margin: 0px;
 list-style-type:none;
 color:#7C1A00;
}

nav li {
 margin:10px;
  border:1px;
  border-style:solid;
  border-color:#7C1A00;
  background-color:#FFE597;
  
}
